name: Auto-update Charm Libraries
on:
  # Manual trigger
  workflow_dispatch:
  schedule:
    - cron: "33 22 * * 5"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lib:
    name: Check libraries
    runs-on: ubuntu-24.04
    if: github.repository == 'canonical/charm-lxd'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Fetch charm libraries
        run: |
          sudo snap install charmcraft --classic
          charmcraft fetch-lib

      - name: Create a PR for local changes
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: "chore: update charm libraries"
          committer: "Github Actions <github-actions@github.com>"
          author: "Github Actions <github-actions@github.com>"
          title: "Update charm libraries"
          body: |
            Automated action to fetch latest version of charm libraries. The branch of this PR 
            will be wiped during the next check. Unless you really know what you're doing, you 
            most likely don't want to push any commits to this branch.
          branch: "chore/auto-libs"
          delete-branch: true
